<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
    <label for="username">Имя пользователя: </label>
    <input type="text" name="username" id="username">
    <br/>

    <label for="password">Пароль пользователя: </label>
    <input type="password" name="password" id="password">
    <br/>

    <input type="submit" value="login">

    <div th:if="${param.error}" style="color: red">
        Неверные имя или пароль.
    </div>
</form>

</body>
</html>