<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" method="post" action="/process_login">

    <!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->

    <label for="username">Имя пользователя: </label>
    <input type="text" name="username" id="username">
    <br/>

    <label for="password">Пароль пользователя: </label>
    <input type="password" name="password" id="password">
    <br/>

    <input type="submit" value="login">

    <div th:if="${param.error}" style="color: red">
        Неверные имя или пароль.
    </div>
</form>

</body>
</html>